<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm nav-stop">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/logo.png" alt="Logo" width="40" height="40" class="me-2"> 
      <span>Classic Events</span>
    </a>

    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{ 'collapse': isNavbarCollapsed, 'navbar-collapse': true }" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li> -->
        <li class="nav-item"><a class="nav-link" routerLink="/birthday" routerLinkActive="active">Birthday</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/anniversary" routerLinkActive="active">Anniversary</a></li>
        <a class="nav-link" routerLink="/wedding" routerLinkActive="active">Wedding</a>
        <a class="nav-link" routerLink="/festival" routerLinkActive="active">Festival</a>
      </ul>

      <div class="d-flex">
        <a href="https://wa.me/1234567890" class="me-3 text-success fw-bold" target="_blank">
          <i class="bi bi-whatsapp"></i> +91 88659 91722
        </a>
        <a href="tel:1234567890" class="text-primary fw-bold">
          <i class="bi bi-telephone-fill"></i> +91 88659 91722
        </a>
      </div>
    </div>
  </div>
</nav>
