/* You can add global styles to this file, and also import other style files */
.nav-link.active {
  font-weight: bold;
  color: #0d6efd !important; /* Bootstrap primary */
  border-bottom: 2px solid #0d6efd;
}